@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');

:root {
    --main-blue: #046AB4;
    --alt-bg: #EDEDED;
    --bg-stroke: #B7AFAF;
}

* {
    box-sizing: border-box;
    font-family: 'Istok Web', sans-serif;
}

body {
    margin: 0;
}

nav {
    display: flex;
    background-color: var(--main-blue);
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav h1 {
    margin: 0;
    padding: 0;
}

.right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.r-btn {
    padding: 5px 20px;
    border-radius: 5px;
    border: 0;
}

.r-btn:active {
    border: 2px solid #969090;
}

.current {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0;
    flex-direction: column;
}

.current-power .reading {
    font-size: 300px;
    padding: 0;
    margin: 0;
}

.vc {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--bg-stroke);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.vc-admin {
    width: 80%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--bg-stroke);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.vc-admin input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

span {
    font-weight: bold;
}

.transactions {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
}

table,
th,
td,
tr {
    border: 1px solid #ccc;
    text-align: center;
}

th, td {
    padding: 10px;
}

form {
    width: 100%;
}

form input {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form label {
    width: 100%;
}

#noData {
    text-align: center;
}

.login-page {
    background-color: aliceblue;
    border-radius: 5px;
    flex: 1;
    padding: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.login-page input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.home {
    width: 100%;
    display: flex;
    align-items: start;
    height: 100vh;
    justify-content: center;
    flex-wrap: wrap;
}

.homepage {
    flex: 1;
    padding: 40px;
    background-color: var(--main-blue);
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.l-btn {
    padding: 5px 20px;
    border-radius: 5px;
    border: 0;
    background-color: var(--main-blue);
    color: #fff;
}

.l-btn:active {
    border: 2px solid var(--main-blue);
}